header {
    height: 103px; /* Menambah tinggi navbar */
    background-color: #adba5e; /* Warna latar belakang tetap */
}

header .logo {
    height: 100px; /* Atur ukuran logo agar lebih proporsional */
    width: auto;
    margin-top: 10px; /* Memberikan jarak dari atas agar tidak terpotong */
    margin-bottom: 10px;
}

#profileDropdown {
  z-index: 10; /* Agar dropdown berada di atas elemen lainnya */
  display: none; /* Mulai dengan tersembunyi */
}

.show {
  display: block; /* Ketika toggle, dropdown ditampilkan */
}

body {
  background-color: #e7e5d7; /* Ubah background menjadi warna yang diinginkan */
}

.image-container {
  margin-top: 20px; /* Jarak antara navbar dan gambar */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%; /* Membuat gambar responsif */
  height: auto;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;  
  display: none;
}

#ajax-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;  /* Perbesar lebar kotak */
  max-width: 1400px;  /* Ubah max-width menjadi 1400px */
  z-index: 9999;
  padding: 40px;  /* Tambahkan padding untuk ruang lebih dalam konten */
  border-radius: 10px;
  display: none;
  min-height: 400px; /* Sesuaikan tinggi minimal jika perlu */
}

/* Tombol untuk menutup pop-up */
#close-btn {
  display: block;
  margin-left: auto;
  cursor: pointer;
  color: #65aac2;
  font-weight: bold;
  font-size: 20px;
} 

.text-button {
  background: none;
  border: none;
  color: #65aac2;
  text-decoration: underline; /* Menambah garis bawah untuk tampilan teks */
  cursor: pointer;
  font-size: 16px; /* Sesuaikan ukuran teks */
}

.text-button:hover {
  color: #0056b3; /* Warna teks saat di-hover */
}

/* Menyesuaikan gaya untuk konten AJAX */
#ajax-inner-content img {
  max-width: 300px; /* Mengatur lebar maksimum gambar */
  height: auto; /* Memastikan gambar proporsional */
  margin-right: 1rem; /* Spasi antara gambar dan deskripsi */
}

#ajax-inner-content {
  display: flex; /* Menggunakan flexbox untuk menata konten */
}

#ajax-inner-content > div {
  flex: 1; /* Membiarkan deskripsi mengambil ruang yang tersisa */
}