{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Berstandar Internasional, Jakarta Running Festival 2024 Manjakan Para Peserta</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold text-center text-gray-800">"Berstandar Internasional, Jakarta Running Festival 2024 Manjakan Para Peserta"</h1>
        
        <img src="{% static 'image/artikel1.jpg' %}" alt="Article 1" class="max-w-full h-auto rounded-md mt-12 mx-auto">
        
        <p class="text-center mt-6 mb-8 text-black-700">
            Ajang marathon berstandar internasional, Jakarta Running Festival (JRF) 2024 resmi dibuka pada Kamis (10/10/2024) di Istora Senayan, Jakarta. 
            Pada gelaran tahun ini, para peserta dimanjakan dengan sejumlah hal yang bahkan melebihi standar internasional.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Acara tersebut dimulai sejak Kamis (10/10/2024) dengan race expo di Istora Senayan, Jakarta. 
            Setelah itu, para peserta yang sudah mendaftar akan turut serta dalam sejumlah kategori yang akan dilangsungkan pada 12-13 Oktober 2024.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Pada 12 Oktober, kategori 5K dan 10K akan dimulai di pagi hari, sementara kategori anak-anak (Junior Dash) akan diadakan pada sore hari di Stadion Utama GBK. 
            Pada 13 Oktober, kategori half marathon dan full marathon akan digelar.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Rute JRF 2024 dirancang untuk menonjolkan keindahan kota Jakarta, menggabungkan pesona modern dan sejarah kota, sehingga para pelari dapat menikmati pemandangan unik ibu kota. 
            Donny Tjahyadikarta selaku Race Director JRF 2024 mengungkapkan bahwa gelaran tahun ini sudah setara dengan event marathon dunia.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Keunggulan Jakarta Running Festival adalah penerapan standar internasional yang ketat, memastikan peserta aman dan nyaman. 
            Rute yang sudah ditetapkan dilengkapi dengan fasilitas setara dengan event marathon dunia, seperti tim medis, marshall, tim keamanan yang siap siaga, serta water station sepanjang jalur," jelas Donny, Sabtu (12/10/2024).
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Dia juga menjelaskan bahwa tahun ini ada penambahan water station sepanjang jalur yang dilewati para peserta. 
            Hal tersebut dilakukan guna mendukung kebutuhan hidrasi para pelari dan juga kenyamanan sepanjang mengikuti ajang tersebut.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Saya pernah berpartisipasi dalam beberapa marathon internasional, dan kenyamanan sebagai pelari sangat dipengaruhi oleh ketersediaan water station. Di JRF 2024, jumlah water station akan ditingkatkan menjadi 22 titik, melebihi standar internasional. 
            Tahun ini, kami kembali mempercayakan Le Minerale sebagai official mineral water Jakarta Running Festival 2024," terang Donny.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Menurut Donny, kenyamanan para peserta sangatlah penting, termasuk juga dengan hidrasi selama mengikuti ajang lari tersebut. 
            Oleh karena itu, JRF 2024 memutuskan untuk menambah water station sepanjang jalur melebihi standar internasional yang ada.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Kami hadir untuk memastikan kebutuhan mineral para pelari terpenuhi," pungkas Febri selaku Marketing Director Le Minerale.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong><em>Source : https://sports.sindonews.com/read/1471647/51/berstandar-internasional-jakarta-running-festival-2024-manjakan-para-peserta-1728720646</em></strong>
        </p>

        <button class="text-button mt-6 mb-8" onclick="window.location.href='/articles2/'" style="display:block; margin:auto; color:#65aac2;">
            Baca juga : "Soft tennis - Permainan solid bawa beregu putri Jakarta dulang emas"
        </button>                    

        <div class="mb-8"></div>
    </div>
</div>

{% endblock content %}