{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Articles</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<!-- Tampilan awal untuk halaman articles -->
<div class="container mx-auto mt-8">
    <h1 class="text-4xl font-bold text-center text-gray-800">Welcome to the Articles Page</h1>
    <p class="text-center mt-4 text-gray-600">Here, you will find some articles about sports!</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-8 gap-x-6 mt-8" id="articles-container">
        <!-- Article 1 -->
        <div class="bg-#e7e5d7 shadow-lg rounded-lg p-6">
            <img src="{% static 'image/article1.jpg' %}" alt="Article 1" class="max-w-full h-auto rounded-md">
            <p class="text-gray-600 mt-2 text-justify">Ajang marathon berstandar internasional, Jakarta Running Festival (JRF) 2024 resmi dibuka pada Kamis (10/10/2024) di Istora Senayan, Jakarta.</p>
            <a class="mt-4 block read-more-btn" href="{% url 'main:show_article1' %}" style="color: #65aac2;">Read more</a>
        </div>

        <!-- Article 2 -->
        <div class="bg-#e7e5d7 shadow-lg rounded-lg p-6">
            <img src="{% static 'image/article2.jpg' %}" alt="Article 2" class="max-w-full h-auto rounded-md">
            <p class="text-gray-600 mt-2 text-justify">DKI Jakarta sukses mendulang medali emas cabang olahraga soft tenis beregu putri Pekan Olahraga Nasional (PON) XXI Aceh-Sumatera Utara 2024 berkat permainan yang solid saat menghadapi Jawa Timur.</p>
            <a class="mt-4 block read-more-btn" href="{% url 'main:show_article2' %}" style="color: #65aac2;">Read more</a>
        </div>

        <!-- Article 3 -->
        <div class="bg-#adba5e shadow-lg rounded-lg p-6">
            <img src="{% static 'image/article3.jpg' %}" alt="Article 3" class="max-w-full h-auto rounded-md">
            <p class="text-gray-600 mt-2 text-justify">Salah satu lapangan golf di Jakarta dalam daftar ini dianggap sebagai lapangan kelas dunia karena menjadi yang pertama di Asia yang menggunakan rumput kualitas terbaik.</p>
            <a class="mt-4 block read-more-btn" href="{% url 'main:show_article3' %}" style="color: #65aac2;">Read more</a>
        </div>

        <!-- Article 4 -->
        <div class="bg-#adba5e shadow-lg rounded-lg p-6">
            <img src="{% static 'image/article4.jpg' %}" alt="Article 4" class="max-w-full h-auto rounded-md">
            <p class="text-gray-600 mt-2 text-justify">Menteri Pemuda dan Olahraga Dito Ariotedjo mengajak masyarakat turut serta dalam Festival Yoga yang digelar di Jakarta oleh Isha Foundation dan bertepatan dengan momen Hari Yoga Internasional 2024.</p>
            <a class="mt-4 block read-more-btn" href="{% url 'main:show_article4' %}" style="color: #65aac2;">Read more</a>
        </div>

        <!-- Article 5 -->
        <div class="bg-#adba5e shadow-lg rounded-lg p-6">
            <img src="{% static 'image/article5.jpg' %}" alt="Article 5" class="max-w-full h-auto rounded-md">
            <p class="text-gray-600 mt-2 text-justify">Mantan Dirlantas Polda Metro Jaya Irjen Pol (Purn) Royke Lumowa memberikan dukungan kepada kontingen Indonesia di Olimpiade 2024 dengan cara unik dan spesial. Royke bersepeda dari Jakarta ke Paris sekitar setahun sehingga tiba tepat saat Olimpiade 2024 berlangsung.</p>
            <a class="mt-4 block read-more-btn" href="{% url 'main:show_article5' %}" style="color: #65aac2;">Read more</a>
        </div>

        <!-- Article 6 -->
        <div class="bg-#adba5e shadow-lg rounded-lg p-6">
            <img src="{% static 'image/article6.jpg' %}" alt="Article 6" class="max-w-full h-auto rounded-md">
            <p class="text-gray-600 mt-2 text-justify">Menpora Dito Ariotedjo menyebut FIFA sudah memutuskan laga Timnas Indonesia vs Bahrain akan tetap digelar di Jakarta. Benarkah demikian?</p>
            <a class="mt-4 block read-more-btn" href="{% url 'main:show_article6' %}" style="color: #65aac2;">Read more</a>
        </div>
    </div>

</div>

{% endblock content %}