{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Indonesia Vs Bahrain di GBK Masih Tanda Tanya</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold text-center text-gray-800">"Indonesia Vs Bahrain di GBK Masih Tanda Tanya"</h1>
        
        <img src="{% static 'image/artikel6.jpeg' %}" alt="Article 6" class="max-w-full h-auto rounded-md mt-12 mx-auto">
        
        <p class="text-center mt-6 mb-8 text-black-700">
            Menpora Dito Ariotedjo menyebut FIFA sudah memutuskan laga Timnas Indonesia vs Bahrain akan tetap digelar di Jakarta. Benarkah demikian?
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Pernyataan Dito itu disampaikan seusai dirinya dilantik di Istana Kepresidenan, Jakarta, Senin (21/10/2024). Ia menanggapi pertanyaan wartawan terkait polemik permintaan Bahrain yang ingin laga tandang mereka kontra Timnas Indonesia digelar di venue netral.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Dito memberi garansi keamanan untuk Bahrain. "FIFA sudah memastikan, pertandingan tetap di Indonesia. Harus di Indonesia, kalau tidak berarti menang WO," kata Dito di Istana Negara kepada pewarta pada 21 Agustus 2024.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Namun sumber detikSport menyatakan hal sebaliknya. Menurut sumber itu, PSSI belum mendapat kesempatan untuk menjalin komunikasi dengan AFC maupun FIFA.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Belum ada pembicaraan antara PSSI, BFA (Federasi Bahrain), AFC, dan FIFA terkait masalah ini. Sebelumnya AFC sudah berjanji akan membahas permintaan BFA soal Indonesia vs Bahrain dengan pihak-pihak terkait yakni dengan PSSI hingga FIFA.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "AFC mengambil isu ini secara serius untuk memastikan keamanan para pemain, ofisial, dan fans, sekaligus mengutuk segala bentuk serangan online dan ancaman. AFC akan mendiskusikan hal ini dengan FIFA, BFA, dan PSSI."
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Adapun Kemenpora memang tidak terlibat dalam isu ini. Dalam kapasitasnya sebagai bagian pemerintah, Kemenpora bisa berperan sebagai penjamin keamanan tim Bahrain jika laga tetap digelar di Jakarta.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Laga Indonesia vs Bahrain akan digelar pada lanjutan Ronde 3 Kualifikasi Piala Dunia 2026, 25 Maret 2025. Partai ini kemungkinan akan digelar di Stadion Utama Gelora Bung Karno (SUGBK), Jakarta.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong><em>Source : https://sport.detik.com/sepakbola/liga-indonesia/d-7601139/indonesia-vs-bahrain-di-gbk-masih-tanda-tanya</em></strong>
        </p>

        <button class="text-button mt-6 mb-8" onclick="window.location.href='/articles1/'" style="display:block; margin:auto; color:#65aac2;">
            Baca juga : "Berstandar Internasional, Jakarta Running Festival 2024 Manjakan Para Peserta"
        </button>        

        <div class="mb-8"></div>
    </div>
</div>

{% endblock content %}
