{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>7 Lapangan Golf Terbaik di Jakarta, Fasilitas dan Biayanya</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold text-center text-gray-800">"7 Lapangan Golf Terbaik di Jakarta, Fasilitas dan Biayanya"</h1>
        
        <img src="{% static 'image/artikel3.jpg' %}" alt="Article 3" class="max-w-full h-auto rounded-md mt-12 mx-auto">
        
        <p class="text-center mt-6 mb-8 text-black-700">
            Golf sudah hadir sejak lama di Indonesia, yaitu dari tahun 1872. Namun, olahraga ini tidak sepopuler sepak bola atau bulu tangkis.
            Salah satu alasan utamanya adalah anggapan bahwa golf adalah olahraga yang mahal.
            Hal ini tidak sepenuhnya salah, karena golf memerlukan lapangan khusus yang luas dan terawat.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Selain itu, peralatan bermain seperti stik golf, bola, serta aksesori lainnya juga tergolong mahal.
            Namun, harga bermain golf sebenarnya bervariasi di setiap tempat, tergantung pada kualitas dan fasilitas yang ditawarkan. 
            Jika penasaran ingin mencoba, Anda bisa mengecek biaya dan fasilitas dari beberapa lapangan golf di Jakarta di bawah ini sebagai bahan pertimbangan.        
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            Deretan Lapangan Golf di Jakarta: Fasilitas, Biaya, dan Kekurangannya
        </p>

        <div class="mb-8"></div>

        <p class="text-4xl font-bold text-center text-gray-700">
            1. Jakarta Golf Club
        </p>

        <img src="{% static 'image/jakartagolf.jpg' %}" alt="Jakarta golf" class="max-w-full h-auto rounded-md mt-12 mx-auto">

        <p class="text-center mt-6 mb-8 text-black-700">
            Jakarta Golf Club merupakan lapangan golf tertua di Indonesia, yakni didirikan sejak tahun 1934. Bahkan, sebenarnya sudah ada dari 1872 dengan nama Batavia Golf Club.
            Selama bertahun-tahun, lapangan ini telah menjadi tuan rumah berbagai turnamen golf besar.
            Lapangan ini terdiri dari 18 hole dan par 72. Terdapat juga driving range dua lantai yang dilengkapi dengan 54 bay yang dapat digunakan untuk berlatih mengayun.        
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Fasilitas di Jakarta Golf Club sangat terawat, seperti kualitas rumput, restoran, locker room, dan lain-lain.
            Jika dibandingkan dengan lapangan golf lainnya di Jakarta, tempat ini memiliki ukuran lapangan yang lebih kecil.        
        </p>

        <p class="text-center text-black-700">
            <strong>Alamat :</strong> Jakarta Golf Club Jln. Rawamangun Muka Raya No.1, Rawamangun, Pulo Gadung, Jakarta Timur
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong>Harga sewa :</strong> mulai dari 375 ribu rupiah untuk tamu nonmember
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            2. Pondok Indah Golf Course
        </p>

        <img src="{% static 'image/pondindgolf.jpg' %}" alt="Pondok Indah Golf" class="max-w-full h-auto rounded-md mt-12 mx-auto">

        <p class="text-center mt-6 mb-8 text-black-700">
            Pondok Indah Golf Course memiliki suasana yang asri dan indah karena banyak pepohonan tinggi yang rimbun, menjadikannya salah satu lapangan golf terbaik di Indonesia.
            Lapangan ini mencakup luas 36 hole dengan par 72. Disediakan juga fasilitas mewah seperti restoran dan pro shop untuk bersantai sembari menikmati keindahan alam tempat ini.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Tempat ini cocok untuk pemain golf dari segala tingkatan, tak terkecuali pemula dan anak-anak. Desain lapangan dan lubang yang cukup menantang juga cocok bagi pemain tingkat lanjut.
            Sayangnya, area parkir di tempat ini tidak terlalu luas dan kurang tertata rapi. Terkadang, layanan customer service dan security-nya juga kurang memuaskan.        
        </p>

        <p class="text-center text-black-700">
            <strong>Alamat :</strong> Pondok Indah Golf Course, Jln. Metro Pondok Indah No. 16, Pondok Pinang, Kebayoran Lama, Jakarta Selatan
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong>Harga sewa :</strong> mulai dari 325 ribu rupiah
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            3. Senayan National Golf Club
        </p>

        <img src="{% static 'image/senayangolf.jpg' %}" alt="Senayan Golf" class="max-w-full h-auto rounded-md mt-12 mx-auto">

        <p class="text-center mt-6 mb-8 text-black-700">
            Di tempat ini, Anda akan disuguhkan dengan pemandangan pepohonan hijau, danau buatan, dan lapangan yang memiliki 18 hole dengan par 72.
            Senayan National Golf Club juga dilengkapi dengan fasilitas mewah dan modern seperti driving range, restoran, hingga ruang ganti yang luas.        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Keunggulan lain dari lapangan ini adalah buka hingga malam hari, sehingga pengunjung bisa lebih fleksibel dalam mengatur waktu kunjungan mereka.
            Namun, terkadang mesin bolanya tidak berfungsi dengan baik karena bola di dalamnya sulit keluar.        
        </p>

        <p class="text-center text-black-700">
            <strong>Alamat :</strong> Senayan Golf Club, Jln. Asia Afrika, Jln. Bendungan Hilir Gg. 9, Senayan, Tanah Abang, Jakarta Pusat
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong>Harga sewa :</strong> mulai dari 400 ribu rupiah
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            4. Cilandak Golf Club
        </p>

        <img src="{% static 'image/cilandakgolf.jpg' %}" alt="Cilandak Golf" class="max-w-full h-auto rounded-md mt-12 mx-auto">

        <p class="text-center mt-6 mb-8 text-black-700">
            Cilandak Golf Club menawarkan pemandangan hijau dengan rumput yang dipangkas rapi dan fairway yang indah.
            Selain menikmati keindahan alam, Anda juga dimanjakan dengan berbagai fasilitas, mulai dari driving range, cafe, locker room, pro shop, gym, hingga barbershop.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Cilandak Golf Club terkenal dengan harga sewanya yang relatif lebih murah dibandingkan tempat lain, sehingga sering ramai pengunjung.
            Karena itu, tempat ini kurang nyaman jika Anda mencari suasana berlatih yang tenang dan privat.        
        </p>

        <p class="text-center text-black-700">
            <strong>Alamat :</strong> Jl. Raya Cilandak KKO No.22, RT.13/RW.5, Cilandak Tim., Ps. Minggu, Jakarta Selatan
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong>Harga sewa :</strong> mulai dari 150 ribu rupiah
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            5. Damai Indah Golf
        </p>

        <img src="{% static 'image/damaigolf.jpg' %}" alt="Damai Indah Golf" class="max-w-full h-auto rounded-md mt-12 mx-auto">

        <p class="text-center mt-6 mb-8 text-black-700">
            Dengan 18 hole dengan par 72, lapangan ini menawarkan pemandangan alam termasuk danau buatan yang menakjubkan dari berbagai sudut. 
            Menjelang malam hari, Anda juga bisa menikmati pemandangan sunset yang indah.        
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Fasilitas yang disediakan juga cukup lengkap, seperti bunker, chipping, dan putting. 
            Selain itu, Anda juga dapat menggunakan layanan VIP untuk driving jika menginginkan suasana berlatih yang santai dan nyaman.        
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Para staf menyambut pengunjung dengan sangat ramah, namun sayang pelayanan di cafe dan tempat makannya kurang gesit.
        </p>

        <p class="text-center text-black-700">
            <strong>Alamat :</strong> Kapuk, Jl. Marina Raya, Kec. Penjaringan, Jakarta Utara
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong>Harga sewa :</strong> mulai dari 600 ribu rupiah
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            6. Royale Jakarta Golf Club
        </p>

        <img src="{% static 'image/royalegolf.jpg' %}" alt="Royale Jakarta Golf" class="max-w-full h-auto rounded-md mt-12 mx-auto">

        <p class="text-center mt-6 mb-8 text-black-700">
            Pertama di Asia, lapangan Royale Jakarta Golf Club menggunakan rumput kualitas terbaik dengan jenis Sea Isle Supreme Paspalum.
            Ada 27 hole yang tersebar di lapangan ini. Beberapa di antaranya memiliki tingkat kesulitan yang cukup menantang.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Dikenal sebagai lapangan golf kelas dunia, tempat ini juga dikunjungi banyak pemain mancanegara, seperti Cina, Jepang, dan Korea.
            Ruang ganti dan toilet yang tersedia cukup banyak, bersih, dan harum, namun pencahayaan yang kurang baik menciptakan suasana yang agak suram dan gelap.        
        </p>

        <p class="text-center text-black-700">
            <strong>Alamat :</strong> Royale Jakarta Golf Club, Jln. Halim Perdana Kusuma, Makasar, Jakarta Timur
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong>Harga sewa :</strong> 601 ribu - 741 ribu rupiah (Senin), 791 ribu - 941 ribu rupiah (Selasa-Kamis), 851 ribu - 1 juta rupiah (Jumat), 1,4 juta - 2,4 juta rupiah (Sabtu-Minggu)
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            7. Sedayu Indo Golf
        </p>

        <img src="{% static 'image/sedayugolf.jpg' %}" alt="Sedayu Indo Golf" class="max-w-full h-auto rounded-md mt-12 mx-auto">

        <p class="text-center mt-6 mb-8 text-black-700">
            Sedayu Indo Golf dikelola dan dikembangkan oleh Agung Sedayu Group dan Salim Group.
            Terletak di kawasan tepi laut Pantai Indah Kapuk, tempat ini menyuguhkan pemandangan yang menawan.        
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Seperti halnya Royale Jakarta Golf Club, lapangan ini juga menggunakan rumput Paspalum Supreme berkualitas premium, dengan 18 hole yang menantang untuk dicoba.
            Namun, suhu udara di lapangan terasa sangat panas saat menjelang siang, karena lokasinya yang dekat dengan pantai serta minimnya pepohonan rindang.        
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Selain itu, kebersihan toilet di tempat ini juga masih kurang memadai, yang menjadi salah satu hal yang cukup disayangkan.        
        </p>

        <p class="text-center text-black-700">
            <strong>Alamat :</strong> Golf Island, Jl. Marina Indah No.1, Kamal Muara, Penjaringan, Jakarta Utara
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong>Harga sewa :</strong> mulai 800 ribu rupiah
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong><em>Source : https://www.inilah.com/lapangan-golf-di-jakarta</em></strong>
        </p>

        <button class="text-button mt-6 mb-8" onclick="window.location.href='/articles4/'" style="display:block; margin:auto; color:#65aac2;">
            Baca juga : "Menpora ajak masyarakat turut serta dalam Festival Yoga di Jakarta"
        </button>

        <div class="mb-8"></div>
    </div>
</div>

{% endblock content %}
