{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Soft tennis - Permainan solid bawa beregu putri Jakarta dulang emas</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold text-center text-gray-800">"Soft tenis - Permainan solid bawa beregu putri Jakarta dulang emas"</h1>
        
        <img src="{% static 'image/artikel2.jpg' %}" alt="Article 1" class="max-w-full h-auto rounded-md mt-12 mx-auto">
        
        <p class="text-center mt-6 mb-8 text-black-700">
            DKI Jakarta sukses mendulang medali emas cabang olahraga soft tenis beregu putri Pekan Olahraga Nasional (PON) XXI Aceh-Sumatera Utara 2024 berkat permainan yang solid saat menghadapi Jawa Timur.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Pada pertandingan final di Lapangan Soft Tenis Mapolda Aceh, Banda Aceh, Selasa (17/9) malam, Jakarta yang menurunkan Oxi Gravitasi Putri pada partai perorangan Julia Sanger/Ni Putu Armini menang atas Jatim 2-0.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Oxi Gravitasi turun pertama pada partai perorangan melawan wakil Jawa Timur, Nofulan Adyani. Oxi memulai pertandingan dengan mulus dan dapat dengan mudah menghalau pukulan-pukulan yang diarahkan kepadanya.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Meski Nofulan Adyani berhasil memanfaatkan momentum dan menghasilkan satu skor, namun upaya itu masih belum bisa menandingi skor Oxi yang sudah melesat 3-1. Pada akhirnya, Oxi mampu mencetak satu skor terakhir, sehingga Jakarta unggul atas Jawa Timur dengan skor 4-1 dalam set pertama.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Kemudian, pada partai ganda, Julia/Putu berhadapan dengan wakil Jawa Timur, Heravita Mediana/Shilvia Audy. Pertandingan antara dua pasangan ini berjalan sengit.    
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Agar bisa melengkapi skor partai perorangan dan keluar sebagai pemenang, Jakarta harus bisa menjaga pertahanan sejak awal. Namun, Julia/Putu beberapa kali gagal membalas pukulan lawan pada awal-awal pertandingan.    
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Julia yang berada di posisi depan net mengakui bahwa dirinya sempat merasakan tekanan lantaran pada pertandingan ganda putri sebelumnya, Jakarta sukses mendapatkan medali emas atas Jawa Timur.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            “Karena kami melihat bahwa sudah ada medali emas, jadi merasa agak gugup. Seharusnya kami bermain dengan percaya diri dan menang dengan mudah,” ucapnya.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Akan tetapi, pada tengah permainan, Julia/Putu mulai membalikkan hasil pertandingan dengan memberikan serangan pada celah-celah yang gagal dibalas oleh lawannya. Beberapa kali keduanya terlihat berbisik-bisik untuk mendiskusikan rencana pukulan mereka. Akhirnya, pasangan Jakarta itu pun berhasil mengejar ketertinggalan poin dan keluar sebagai pemenang dengan skor ketat 5-4 atas Jawa Timur.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Perolehan skor Jakarta yang disumbangkan oleh partai perorangan dan partai ganda pun membawa mereka unggul atas Jawa Timur dan menggondol medali emas.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Berikut perolehan medali pada final nomor beregu putri soft tenis PON XXI:
            1. Medali emas: Jakarta
            2. Medali perak: Jawa Timur
            3. Medali perunggu: Jawa Tengah dan Sulawesi Utara
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong><em>Source : https://www.antaranews.com/berita/4340559/soft-tenis-permainan-solid-bawa-beregu-putri-jakarta-dulang-emas</em></strong>
        </p>

        <button class="text-button mt-6 mb-8" onclick="window.location.href='/articles3/'" style="display:block; margin:auto; color:#65aac2;">
            Baca juga : "7 Lapangan Golf Terbaik di Jakarta, Fasilitas dan Biayanya"
        </button>

        <div class="mb-8"></div>
    </div>
</div>

{% endblock content %}
