{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Cerita Royke Lumowa Bersepeda Setahun dari Jakarta ke Paris Demi Dukung Indonesia di Olimpiade 2024</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold text-center text-gray-800">"Cerita Royke Lumowa Bersepeda Setahun dari Jakarta ke Paris Demi Dukung Indonesia di Olimpiade 2024"</h1>
        
        <img src="{% static 'image/artikel5.jpg' %}" alt="Article 5" class="max-w-full h-auto rounded-md mt-12 mx-auto">
        
        <p class="text-center mt-6 mb-8 text-black-700">
            Mantan Dirlantas Polda Metro Jaya Irjen Pol (Purn) Royke Lumowa memberikan dukungan kepada kontingen Indonesia di Olimpiade 2024 dengan cara unik dan spesial. Royke bersepeda dari Jakarta ke Paris sekitar setahun sehingga tiba tepat saat Olimpiade 2024 berlangsung.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Royke menghabiskan waktu 387 hari atau 1 tahun 21 hari untuk sampai di Paris. Royke yang juga mantan Kapolda Sulawesi Utara itu menempuh jarak 20.620,87 kilometer dan melintasi 44 negara dari 2 benua, Asia dan Eropa dengan mengusung misi “Cycling Anywhere to Save the Earth” lewat bersepeda.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Ada 44 negara yang dilewati Royke selama bersepeda ke Paris. Mulai dari Singapura, Thailand, China, Nepal, India, Pakistan, Iran, Tibet, Belanda, Spanyol, Denmark, Swiss, Belgia, Andorra, Liechtenstein, Italia, Spanyol, Inggris hingga finis di Prancis.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Ini bukan lagi mimpi, melainkan kenyataan. Kenyataan ini membuat hati saya begitu bahagia. Saya ingin ekspresikan pencapaian ini dengan melompat kegirangan dan menangis seraya berterima kasih kepada Tuhan atas perlindunganNYA," kata Royke.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Royke menyelesaikan petualangannya di Club France, Grande Halle de la Villette. Disana dia disambut Presiden Komite Olimpiade (NOC) Perancis David Lappartient yang juga Presiden Union Cycling International (UCI).
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Dalam penyabutan tersebut juga hadir Duta Besar Indonesia untuk Prancis Mohamad Oemar, Ketua Umum Komite Olimpiade Indonesia (NOC Indonesia) Raja Sapta Oktohari, Vice President NOC Prancis, Joseph Pierre Luc Tardif dan perwakilan dari federasi internasional cabang olahraga.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Aksi bersepeda saya ini untuk ikut menyukseskan Olimpiade 2024 dan mendukung perjuangan atlet Indonesia di Olimpiade Paris yang mana akhirnya sukses merebut dua medali emas. Serta ikut menyukseskan kampanye Indonesia menjadi tuan rumah Olimpiade 2036," ucap Royke di Jakarta (12/8/2024).
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            Dapat Banyak Rintangan Hingga Akhirnya ke Paris
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Perjalanan Royke gowes ke Paris dimulai pada 8 Juli 2023 di Monumen Nasional (Monas), Jakarta. Beragam cobaan dan tantangan silih berganti berhasil dilalui oleh mantan Kapolda Sulawesi Utara itu. Rintangan yang dihadapi mulai dari gangguan suhu ekstrim, elevasi ekstrim, badai angin kencang, pencurian uang, bahkan pencurian sepeda, kesulitan memperpanjang visa Uni Eropa dan lainnya.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Pikiran Royke juga sempat terganggu saat sedang mengayuh sepeda di wilayah Thailand. Dia mendapat kabar istrinya harus menjalani operasi di Jakarta. Untungnya setelah melakukan pemeriksaan lebih lanjut, istri Royke tak perlu dioperasi. Perjalanan ke Paris pun bisa dilanjutkan, Royke tidak jadi pulang ke tanah air.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Patut disadari bahwa untuk melakoni medan berat penuh tantangan ini harus memiliki tiga syarat utama yaitu: Kekuatan (fisik dan mental), keberanian (untuk mengambil keputusan dengan segala resiko), dan (sedikit) gila (out of the box). Bila ketiga hal tersebut digunakan untuk menghadapi tantangan dan hambatan yang selalu menguras tenaga dan pikiran, maka akan berubah menjadi menyenangkan dan bahagia," terang Royke.
        </p>

        <p class="text-4xl font-bold text-center text-gray-700">
            Sepeda Dicuri di Italia
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Beberapa wilayah yang cukup memberatkan Royke saat mengayuh sepeda ke Paris antara lain, Pakistan, Tibet, Italia, Latvia hingga Jerman.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Royke memilih Tibet sebagai medan terberat. Elevasinya mencapai 5.250 meter di atas permukaan laut (mdpl) sebanyak 3 gunung tentunya elevasi yang menguras tenaga, dimana kandungan oksigen pada ketinggian tersebut sangat tipis.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Kemudian di Pakista, Royke harus mendapat pengawalan dari kepolisian setempat. Pasalnya provinsi yang dilewati sering terjadi serangan teroris. Di Pakistan, Royke juga merasakan badai gurun.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Rintangan berat lain adalah angin kencang di Yunani dan Jerman utara. Sepeda sempat melayang layang akibat tertiup angin. Badai salju dan dingin ekstrim di Latvia dan sekitarnya juga begitu merepotkan karena menyentuh angka minus 26 derajat celcius.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Dua sepeda yang dibawa Royke juga hilang dicuri saat berada di Roma, Italia. Kasus pencurian juga dialaminya di dua kali di Iran. Pencurian uang tunai di kamar hotel di Kota Chalus, Iran serta pencurian barang-barang di dalam mobil saat parkir dengan memecahkan kaca jendela di Teheran.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong><em>Source : https://www.liputan6.com/bola/read/5671060/cerita-royke-lumowa-bersepeda-setahun-dari-jakarta-ke-paris-demi-dukung-indonesia-di-olimpiade-2024?page=3</em></strong>
        </p>

        <button class="text-button mt-6 mb-8" onclick="window.location.href='/articles6/'" style="display:block; margin:auto; color:#65aac2;">
            Baca juga : "Indonesia Vs Bahrain di GBK Masih Tanda Tanya"
        </button>

        <div class="mb-8"></div>
    </div>
</div>

{% endblock content %}