{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Menpora ajak masyarakat turut serta dalam Festival Yoga di Jakarta</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold text-center text-gray-800">"Menpora ajak masyarakat turut serta dalam Festival Yoga di Jakarta"</h1>
        
        <img src="{% static 'image/artikel4.jpg' %}" alt="Article 4" class="max-w-full h-auto rounded-md mt-12 mx-auto">
        
        <p class="text-center mt-6 mb-8 text-black-700">
            Menteri Pemuda dan Olahraga Dito Ariotedjo mengajak masyarakat turut serta dalam Festival Yoga yang digelar di Jakarta oleh Isha Foundation dan bertepatan dengan momen Hari Yoga Internasional 2024.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Yoga dan meditasi menawarkan solusi yang efektif untuk mengelola stres dan menjaga keseimbangan emosional," kata Dito Ariotedjo dalam keterangan tertulis pihak penyelenggara, Isha Foundation, di Jakarta pada Minggu.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Dito kemudian berbicara tentang kesehatan mental yang dinilainya  aspek yang sangat penting dalam kehidupan modern, terutama bagi masyarakat perkotaan yang menghadapi berbagai tantangan dengan ritme aktivitas yang sangat cepat.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Saya sangat mendukung inisiatif ini dan mengajak semua orang untuk berpartisipasi dalam Festival Yoga untuk merasakan manfaatnya secara langsung,” imbuh Dito.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Hari Yoga Internasional dideklarasikan oleh Perserikatan Bangsa-Bangsa dan rutin diadakan setiap tanggal 21 Juni sejak 2015.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Melalui festival ini kami juga ingin mengajak masyarakat untuk melepaskan penat dan healing bersama,” kata perwakilan Isha Foundation dalam keterangan tertulis itu.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Menurut Isha Foundation, Festival Yoga bertujuan meningkatkan kesadaran kesehatan mental melalui sesi yoga dan meditasi gratis yang diselenggarakan sejak 16 Juni 2024 sampai Minggu 23 Juni.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Sesi yoga dan meditasi turut diramaikan dengan berbagai kegiatan budaya dan rekreasi untuk semua kalangan secara gratis.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Pakar kebugaran, Ade Rai, menyebut Festival Yoga menjadi peringatan bagi masyarakat bahwa betapa cerdas dan canggihnya tubuh manusia ketika  menciptakan energi hidup seperti emosi, pikiran dan badan.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            "Program-program yang diadakan pada festival ini akan mengarahkan kita pada tujuan tersebut,” ujar Ade Rai.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            Penggemar yoga yang juga selebriti Indonesia, Anjasmara, menyebut yoga dan meditasi tidak hanya dapat mengatur tingkat stres dan kecemasan tapi juga meningkatkan fokus, daya ingat dan produktivitas.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            “Yoga telah menjadi perjalanan hidup yang mengubah saya, dan saya berharap lebih banyak orang akan merasakan manfaatnya yang mendalam," kata Anjasmara.
        </p>

        <p class="text-center mt-6 mb-8 text-black-700">
            <strong><em>Source : https://www.antaranews.com/berita/4164648/menpora-ajak-masyarakat-turut-serta-dalam-festival-yoga-di-jakarta</em></strong>
        </p>

        <button class="text-button mt-6 mb-8" onclick="window.location.href='/articles5/'" style="display:block; margin:auto; color:#65aac2;">
            Baca juga : "Cerita Royke Lumowa Bersepeda Setahun dari Jakarta ke Paris Demi Dukung Indonesia di Olimpiade 2024"
        </button>

        <div class="mb-8"></div>
    </div>
</div>

{% endblock content %}
